<label >Server name: </label>
<!--<input class="form-control" type="text" (input)="onUpdateServerName($event)" />-->
<input class="form-control"
       type="text"
       [(ngModel)]="serverName" />

<!--<p>{{serverName}}</p>-->
<button (click)="onCreateServer($event)" class="btn btn-primary" [disabled]="!allowNewServer">Add Server</button>
<div class="container">
  <div class="row col-xs-12 d-block">
    <!--<h3 [innerText]= "allowNewServer"></h3>-->
    <!--<p>{{serverCreationStatus}}</p>-->
    <p *ngIf="serverCreated;">Server {{serverName}} was created! </p>
    <!--<ng-template #noServer>
      <p>No servers was created !</p>
    </ng-template>-->
    <app-server *ngFor="let server of servers"></app-server>
  </div>
</div>
<!--<label>Username: </label>
<input class="form-control"
       type="text"
       [(ngModel)]="username" />
<p>{{username}}</p>
<button (click)="username = ''"  class="btn btn-primary" [disabled]="username === ''">Add Server</button>
-->
